################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet_TransConnect/.vs/Projet_TransConnect_TANG/FileContentIndex/197beab8-6a8b-4e10-9277-9c088fa72101.vsidx
/Projet_TransConnect/Projet_TransConnect/~$Distances.xlsx
