################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet_TransConnect/.vs/Projet_TransConnect_TANG/FileContentIndex/2b07e4cc-e5b6-4fda-9d8c-07dd64591e2c.vsidx
/Projet_TransConnect/.vs/Projet_TransConnect_TANG/FileContentIndex
