################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet_TransConnect/.vs/Projet_TransConnect_TANG/FileContentIndex
